<!-- <ion-header>
  <ion-toolbar>
    <ion-title> Header </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- Start Section 1 -->
  <div class="image-container"  >
    <ion-img src="../assets/snapedit_1708848481704.jpg" alt="Full-screen image" class="imageHeader"></ion-img>
    <h1 class="titleText">Nước cốt nhàu Vital Noni </h1>
    <h2 class="subTitleH2Text">Giải pháp cho các vấn đề về xương khớp, tiêu hoá,<br>
      huyết áp, tiểu đường, thừa cân,<br>
      trào ngược dạ dày, ...</h2>
    <ion-button class="buttonToDown bounce" (click)="clickToExplore()">
      Tìm hiểu ngay
    </ion-button>
  </div>
  <!-- End Section 1 -->

  <!-- Start Section 2 -->
  <div class="noni" id="noniWhat">
    <ion-grid>
      <ion-row class="rowSecTwo">
          <ion-col size-md="12" size-sm="12" size-lg="12" size-xl="6" size-xs="12" class="imageInfoNoni">
          <ion-img src="../assets/nonifuirt.jpg" alt="Trái nhàu là gì?" class="imageNoni"></ion-img>
        </ion-col>
        <ion-col class="infoNoni">
            <ion-col class="colSec2" size-md="12" size-sm="12" size-lg="12" size-xl="6" size-xs="12">
            <div class="text-column">
              <ion-text>
                <h1  class="noniWhat">Trái Nhàu</h1>
              </ion-text>
              <div class="horizontal-line"></div>
            </div>
            <p class=" pSecTwo">
              <ion-text  class="textInfoNoni">- Trái nhàu là loại trái có dược
                tính mạnh, bên cạnh đó chúng có chứa rất nhiều dưỡng chất có lợi cho sức
                khỏe con người. Trái nhàu được người Việt thường gọi với tên nhàu núi, nhàu rừng, cây ngao hoặc Noni.
                Chúng được biết đến là một vị thuốc quý được sử dụng rất nhiều trong các bài thuốc hỗ trợ điều trị bệnh
                của Đông Y, và cả Y Học Hiện Đại trên toàn thế giới.<br></ion-text>
              <ion-text  class="textInfoNoni">- Ngoài ra với các công dụng tốt
                cho sức khoẻ như thế, trái nhàu còn được chế biến thành một loại nước cốt
                với các công dụng tuyệt vời.
              </ion-text>
            </p>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- End Section 2 -->

  <!-- Start Section 3 -->
  <div class="noniBenifit" >
    <ion-grid>
      <ion-row class="rowSecThree">
        <ion-col size-md="12" size-sm="12" size-lg="12" size-xl="6" size-xs="12" class="imageInfoNoniBenefit">
          <ion-img src="../assets/benifitnoni.jpg" alt="Lợi ích của trái Nhàu" class="imageNoniBenefit"></ion-img>
        </ion-col>
        <ion-col class="infoNoniBenefit">
          <ion-col size-md="12" size-sm="12" size-lg="12" size-xl="6" size-xs="12">
            <div class="text-column">
              <ion-text>
                <h1 class="noniWhatBenefit">Lợi ích mang lại</h1>
              </ion-text>
              <div class="horizontal-line"></div>
            </div>
            <p class="pSecThree">
              <ion-text class="textSecThree"> Tăng cường hệ miễn dịch giúp cơ
                thể chống lại bệnh tật.
                Chống ô nhiễm và oxy hóa bảo vệ tế bào khỏi tổn thương. Cải thiện sức khỏe tim mạch bằng cách giảm
                cholesterol,
                huyết áp, và tăng lưu lượng máu đến các cơ và mô. Giảm viêm nhiễm hỗ trợ quá trình phục hồi của cơ thể.
                Tăng cường năng lượng và sức bền giúp hoạt động hàng ngày dễ dàng hơn và giảm căng thẳng. Hỗ trợ tái tạo
                và sửa chữa cơ thể để duy trì và phục hồi sức khỏe tổng thể. Hỗ trợ chức năng não cải thiện tư duy và sự
                tỉnh táo.
                Giảm đau và cải thiện chức năng xương khớp hỗ trợ trong việc điều trị đau xương và cơ.
              </ion-text>
            </p>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- End Section 3 -->

  <!-- <div style="text-align: center; ">
    <div >
      <ion-text>
        <h1>Nước cốt Nhàu Vital ...có tốt không?</h1>
      </ion-text>
    </div>
    <p  >
      <ion-text> Nước cốt nhàu cực kỳ tốt cho sức khoẻ con người và Chống ung thư,
        Điều trị bệnh<br> tiểu đường, Phòng ngừa bệnh tim mạch, Hỗ trợ đường tiêu hoá, ...
      </ion-text>
    </p>
  </div> -->

  <!-- Start Section 4 -->
  <div class="divSecFour container" >
    <div  style="text-align: center;">
      <ion-text style="">
        <h1 class="h1SecFour">Nước cốt Nhàu Vital ...có tốt không?</h1>
      </ion-text>
      <p class=" pSecFour">
        <ion-text>
          <h2 class="h2SecFour"> Nước cốt nhàu cực kỳ tốt cho sức khoẻ con
            người và Chống ung thư,
            Điều trị bệnh<br> tiểu đường, Phòng ngừa bệnh tim mạch, Hỗ trợ đường tiêu hoá, ...
          </h2>
        </ion-text>
      </p>
    </div>
  </div>
  <!-- End Section 4 -->

  <!-- Start Section 5 -->
  <ion-grid style=" background-color: #ededed;" >
    <ion-row>
      <ion-col class="colSecFive" size-lg="6" size-sm="12" size-md="12" size-xs="12">
        <div class="divSecFive">
          <ion-text><b>Sản phẩm Thiên nhiên Dinh dưỡng Đa chức năng: </b>"Nước cốt nhàu Vital" là sản phẩm dinh dưỡng tự
            nhiên, cung cấp đầy đủ chất dinh dưỡng từ trái nhàu và dược liệu.<br>
          </ion-text>
          <ion-text><b>An toàn và Hiệu quả:</b> "Nước cốt nhàu Vital" không chứa bất kỳ thành phần hóa học, chất tạo
            màu, chất tạo mùi
            hay các loại hóa chất khác. Điều này đảm bảo sản phẩm an toàn, nhanh chóng và không có tác dụng phụ đáng lo
            ngại.<br></ion-text>
          <ion-text><b>Được Chuyên gia Dinh dưỡng Đánh giá cao:</b> Sản phẩm được các chuyên gia dinh dưỡng đánh giá cao
            về thành phần
            hóa học và khả năng tích cực đối với sức khỏe con người. Quy trình chế biến và chiết xuất được thực hiện bởi
            những
            chuyên gia hàng đầu, sử dụng công nghệ hiện đại nhất để tạo ra một sản phẩm đạt tiêu chuẩn an toàn
            cao.<br></ion-text>
        </div>
      </ion-col>
      <ion-col size-lg="6" size-sm="12" size-md="12" size-xs="12">
        <ion-img class="imageSecFive" alt="Nước cốt trái nhàu"
          src="../assets/2BottlesNoni.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- End Section 5 -->

  <!-- Start Section 6 -->
  <div class="divSecSix " >
    <div class="ion-text-center divSectionSix">
      <h2 class="h2SecSix">
        Thành phần
      </h2>
      <h3 class="h3SecSix">
        Được chiết xuất từ những thành phần có nguồn dưỡng chất cực kỳ cao,<br>
        mang đến những công dụng thiết thực cho việc cải thiện và phục hồi <br>
        các chức năng trong cơ thể
      </h3>
    </div>
  </div>
  <!-- End Section 6 -->

  <!-- Start Section 7 -->
  <!-- Start Chiết xuất nước cốt trái nhàu tự nhiên -->
  <div>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="4" size-md="4"  size="12">
          <div class="ion-text-center divSectionSevOdd">
            <h3 class="h3SectionSevOdd">
              Chiết xuất nước cốt<br> trái nhàu tự nhiên
            </h3>
            <h4 class="h4SectionSevOdd container">
              Trái nhàu được xem là vị thuốc quý <br>giúp hỗ trợ điều trị rất nhiều bệnh lý <br>cho cơ thể con người.
            </h4>
          </div>
        </ion-col>
        <ion-col size-lg="4" size-md="4"  size="12">
          <ion-img class="imageSectionSevOdd" src="../assets/nonifuirt.jpg"
            alt="Chiếc xuất nước cốt Trái Nhàu tự nhiên">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- End Chiết xuất nước cốt trái nhàu tự nhiên -->

  <!-- Start Đông trùng hạ thảo -->
  <div>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="4" size-md="4" size="12">
          <ion-img class="imageSectionSevEven" src="../assets/DongTrungHaThao.jpg"
            alt="Đông trùng hạ thảo hỗ trợ miễn dịch">
          </ion-img>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size="12">
          <div class="ion-text-center divSectionSevEven" style="">
            <h3 class="h3SectionSevEven">
              Đông trùng hạ thảo
            </h3>
            <h4 class="h4SectionSevEven container">
              Polysaccharides trong Đông trùng hạ thảo<br>
              có thể hỗ trợ chức năng miễn dịch<br>
              bằng cách kích thích hệ miễn dịch, <br>
              giúp cơ thể chống lại bệnh tật<br>
              và tăng cường sức kháng.
            </h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- End Đông trùng hạ thảo -->

  <!-- Start Tảo xoắn -->
  <div>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="4" size-md="4" size="12">
          <div class="ion-text-center divSectionSevOdd">
            <h3 class="h3SectionSevOdd">
              Tảo xoắn
            </h3>
            <h4 class="h4SectionSevOdd container">
              Tảo xoắn, còn gọi là "spirulina “được<br>
              biết đến với giá trị dinh dưỡng cao <br>
              và được sử dụng như một loại thực phẩm<br>
              bổ dưỡng và thực phẩm chức năng.
            </h4>
          </div>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size="12">
          <ion-img class="imageSectionSevOdd" src="../assets/TaoXoan.jpg" alt="Tảo Xoắn giá trị dinh dưỡng cao">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- End Tảo xoắn -->

  <!-- Start Dây đau xương -->
  <div>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="4" size-md="4" size="12">
          <ion-img class="imageSectionSevEven" src="../assets/DayDauXuong.webp"
            alt="Dây đau xương điều trị chấn thương, xương và khớp">
          </ion-img>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size="12">
          <div class="ion-text-center divSectionSevEven" style="">
            <h3 class="h3SectionSevEven">
              Dây đau xương
            </h3>
            <h4 class="h4SectionSevEven container">
              Còn gọi là "Gònònica" hay "Cissus quadrangularis”,<br>
              loại cây này thường được sử dụng<br>
              trong y học dân gian để làm giảm đau xương và cơ, <br>
              điều trị chấn thương và viêm nhiễm cơ xương.
            </h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- End Dây đau xương -->

  <!-- Start Hồng Sâm -->
  <div>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="4" size-md="4" size="12">
          <div class="ion-text-center divSectionSevOdd">
            <h3 class="h3SectionSevOdd">
              Hồng sâm
            </h3>
            <h4 class="h4SectionSevOdd container">
              Ginsenosides là những hợp chất<br>
              có trong hồng sâm và có tác động<br>
              làm giảm căng thẳng, tăng cường sự tỉnh táo,<br>
              và cải thiện tình trạng tinh thần.
            </h4>
          </div>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size="12">
          <ion-img class="imageSectionSevOdd" src="../assets/HongSam.webp"
            alt="Hồng sâm làm giảm căng thẳng, tăng cường sự tỉnh táo">
          </ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- End Hồng Sâm -->

  <!-- Start Bồ công anh -->
  <div>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="4" size-md="4" size="12">
          <ion-img class="imageSectionSevEven" src="../assets/BoCongAnh.jpg"
            alt="Dây đau xương điều trị chấn thương, xương và khớp">
          </ion-img>
        </ion-col>
        <ion-col size-lg="4" size-md="4" size="12">
          <div class="ion-text-center divSectionSevEven" style="">
            <h3 class="h3SectionSevEven">
              Bồ công anh
            </h3>
            <h4 class="h4SectionSevEven container">
              Còn gọi là "Taraxacum officinale",<br>
              Bồ công anh là một loại cây cỏ<br>
              chứa nhiều loại vitamin và khoáng chất,<br>
              đặc biệt là vitamin A, C, và K, <br>
              cũng như chất chống oxi hóa.
            </h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- End Bồ công anh -->

  <!-- End Section 7 -->

  <!-- Start Section 8 -->
  <div style="margin-top: 60px;">
    <ion-grid style="padding: 45px 0px;background-color: #ededed;">
      <ion-row class="ion-justify-content-center container">
        <ion-col size-lg="4.5" size="12">
          <ion-text class="textSectionEght">
            Đặt mua sản phẩm của chúng tôi ngay hôm nay để nhận ngay ưu đãi tốt
          </ion-text>
        </ion-col>
        <ion-col class="ion-text-center colBtnBuy" size-lg="2.5" size="12">
          <ion-button class="btnBuy bounce" (click)="clickToAdvise()">
            Mua ngay
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- End Section 8 -->

<!-- Start Section 9 -->
<div style="margin-top: 30px;">
  <ion-grid>
    <ion-row class="ion-justify-content-center ">
      <ion-col size-lg="4.5" size="12" class="secNineColOne ">
        <ion-img class="secNineImgColOne"  src="../assets/10BottlesNoni.jpg" alt="Dây đau xương điều trị chấn thương, xương và khớp">
        </ion-img>
      </ion-col>
      <ion-col class="ion-text-center " size-lg="3" size="12">
        <ion-col>
          <ion-row class="secNineRowTwo">
            <ion-img class="imageBenefitSecNine" src="../assets/2BottlesNoni.jpg" alt="Dây đau xương điều trị chấn thương, xương và khớp">
            </ion-img>
          </ion-row>
          <ion-row>
            <ion-img class="imageBenefitSecNine" src="../assets/benifitnoni.jpg" alt="Dây đau xương điều trị chấn thương, xương và khớp">
            </ion-img>
          </ion-row>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<!-- End Section 9 -->

<!-- Start Section 10 -->
<div class="ion-text-center container" >
  <ion-text >
    <h1 class="h1SecTen">
      Bác sĩ nói gì về lợi ích của quả nhàu?
    </h1>
  </ion-text>
  <iframe  width="900" height="550" src="https://www.youtube.com/embed/49jotr22ENU" 
  frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>
</div>
<!-- End Section 10 -->

<!-- Start Section 11 -->
<div class="ion-text-center container" >
  <ion-text >
    <h1 class="h1SecTen h1SecEle">
      GIẤY CHỨNG NHẬN
    </h1>
  </ion-text>
  <ion-grid >
    <!-- <ion-row class="ion-justify-content-center ">
      <ion-col size-lg="3" size="12" size-xs="7" size-sm="5" >
        <ion-img class="secEleImg"  src="../assets/GiayChungNhan.jpeg" alt="Dây đau xương điều trị chấn thương, xương và khớp">
        </ion-img>
      </ion-col>
      <ion-col size-lg="3" size="12" size-xs="7" size-sm="5">
        <ion-img class="secEleImg"  src="../assets/GiayChungNhan.jpeg" alt="Dây đau xương điều trị chấn thương, xương và khớp">
        </ion-img>
      </ion-col>
      <ion-col size-lg="3" size="12" size-xs="7" size-sm="5">
        <ion-img  class="secEleImg" src="../assets/GiayChungNhan.jpeg" alt="Dây đau xương điều trị chấn thương, xương và khớp">
        </ion-img>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</div>
<!-- End Section 11 -->

<!-- Start Section 12 -->
<div class="ion-text-center container" style="margin-bottom: 80px;" > 
  <ion-text >
    <h1 class="h1SecTen h1SecEle h1SecTwe">
      KHÁCH HÀNG NÓI GÌ VỀ NƯỚC CỐT NHÀU VITAL NONI ?
    </h1>
  </ion-text>
  <ion-grid >
    <!-- <ion-row class="ion-justify-content-center " >
      <ion-col size-lg="3" size="12" size-xs="7" size-sm="5" >
        <ion-img class="secTweImg"  src="../assets/feedBackMess.png" alt="Dây đau xương điều trị chấn thương, xương và khớp">
        </ion-img>
      </ion-col>
      <ion-col size-lg="3" size="12" size-xs="7" size-sm="5" >
        <ion-img class="secTweImg"  src="../assets/feedBackMess.png" alt="Dây đau xương điều trị chấn thương, xương và khớp">
        </ion-img>
      </ion-col>
      <ion-col size-lg="3" size="12" size-xs="7" size-sm="5" >
        <ion-img  class="secTweImg" src="../assets/feedBackMess.png" alt="Dây đau xương điều trị chấn thương, xương và khớp">
        </ion-img>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</div>
<!-- End Section 12 -->

<!-- Start Section 13 -->
<div class="ion-text-center container divSecThird" id="advise">
  <ion-grid>
    <ion-row class="ion-justify-content-center "> 
      <ion-col size-lg="6" size="12">
        <ion-text >
          <h1 class="h1SecTen h1SecThird" >
            Tư vấn miễn phí
          </h1>
          <h3 class="h3SecThird">
            Để lại thông tin của bạn để được tư vấn mua hàng và nhận các ưu đãi mới nhất
          </h3>
        </ion-text>
        <ion-list class="centered-list ion-text-left">
          <ion-input class="custom"  label="Họ và Tên của bạn" label-placement="floating" placeholder="Tên của bạn" fill="solid" [(ngModel)]="name" ></ion-input>
          <div style="height: 30px; background-color: #ededed;"></div>
          <ion-input class="custom" label="Số điện thoại" label-placement="floating" placeholder="090-090-09090" fill="solid" type="tel" [(ngModel)]="phone"></ion-input>
        </ion-list>
        <ion-button class="btnSend" (click)="submitInfor()" >
          GỬI
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
<!-- End Section 13 -->

  <!-- Start Section Footer -->
  <div class="container" > 
    <ion-grid style="background-color: white">
      <ion-row>
        <ion-col size-lg="4" size-xs="12" size-md="12">
          
        </ion-col>
        <ion-col size-lg="4" size-xs="12" size-md="12" class="colSecFooter">
          <p class="pSecFooter" >
            <ion-text class="textSecFooter ">
              <h1 class="h1InfoCompany">Công ty Đầu tư và Thương mại VIMI</h1>
              Số điện thoại: 0913-537-991<br>
              <!-- Email: vimi&#64;gmail.com -->
              Địa chỉ: Số 3, đường 34A, phường An Phú, quận 2, TP.Hồ Chí Minh
            </ion-text>
          </p>
          <ion-button class="btnPageSocial" >
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button class="btnPageSocial">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button >
          <ion-button class="btnPageSocial">
            <ion-icon name="logo-youtube"></ion-icon>
          </ion-button>
          <ion-button class="btnPageSocial">
            <ion-icon name="logo-tiktok"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size-lg="4" size="12">
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- End Section Footer -->
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-title> Footer </ion-title>
  </ion-toolbar>
</ion-footer> -->