
@import 'main_style/main_style';
@import 'main_style/sub_style';
// //this is responsive when Screen have two columns
@media only screen and (min-width:1024px) and (max-width:1655px) {

    .imageNoni,
    .imageNoniBenefit {
        width: 380px;
        height: 380px;
        object-fit: cover;
    }

    .noniWhat,
    .noniWhatBenefit {
        font-size: 40px;

    }

    .textInfoNoni,
    .textSecThree {
        font-size: 20px;
    }

    .secEleImg {
        width: auto;
        height: 100%;
        margin-right: 10px;
    }

    .btnBuy {
        margin-left: 40px;
    }

    .buttonToDown {
        margin-top: 40%;
    }
}

//this is responsive when Screen have a column
@media only screen and (max-width:1199px) {
    .container {
        padding: 15px;
    }

    .imageNoni,
    .imageNoniBenefit,
    .imageSecFive,
    .imageSectionSevEven,
    .imageSectionSevOdd,
    .imageBenefitSecNine {
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .noniWhat,
    .noniWhatBenefit {
        margin-top: 20px;
        font-size: 30px;
    }

    .noniWhatBenefit {
        font-size: 25px;
    }

    .textInfoNoni,
    .textSecThree {
        line-height: 1.5;
    }

    .textSecThree {
        text-align: left;
    }

    .secNineColOne {
        margin-right: 0px;
    }

    .secNineRowTwo {
        margin-bottom: 0px;
    }

    .imageBenefitSecNine {
        width: 100%;
        object-fit: cover;
    }

    iframe {
        width: 100%;
        height: 500px;
    }

    .secEleImg {
        width: auto;
        height: 100%;
        margin-right: 10px;
    }

    .h1InfoCompany {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .textSecFooter {
        font-size: 20px;

    }

    .pSecFooter {
        margin-bottom: 45px;
        width: auto;
    }

    .noniBenifit {
        padding: 30px 0;
    }

    .h1SecFour,
    .h2SecSix,
    .h3SectionSevOdd,
    .h3SectionSevEven {
        font-size: 28px;
    }

    .divSectionSix,
    .divSectionSevOdd,
    .divSectionSevEven {
        padding: 20px 0px;
    }

    .h3SecSix {
        font-size: 20px;
        padding: 35px 0px 0px;
    }

    .h4SectionSevOdd,
    .h4SectionSevEven {
        font-size: 20px;
        // text-align: left;
    }

    .btnBuy {
        margin-top: 30px;
    }

    .secTweImg,
    .secEleImg {
        margin-top: 10px;
    }

    .buttonToDown {
        margin-top: 60%;
    }

}

@media only screen and (width:1024px) and (height: 600px) {
    .buttonToDown {
        margin-top: 30%;
    }
}

@media only screen and (min-width:768px) and (max-width:912px) {
    .buttonToDown {
        margin-top: 60%;
    }
}
@media only screen and (max-width:737px) {
    .titleText {
        top: 20%;
        font-size: 45px;
    }

    .subTitleH2Text {
        top: 25%;
        font-size: 20px;
    }
    .h4SectionSevOdd,
    .h4SectionSevEven {
        font-size: 20px;
        // text-align: left;
    }

    .h1SecEle,
    .h1SecTwe,
    .h1SecThird {
        font-size: 30px;
    }

    .h3SecThird {
        font-size: 23px;
    }

    .btnBuy {
        margin-top: 30px;
    }

    .buttonToDown {
        margin-top: 80%;
    }
}

// Galaxy Fold Screen
@media only screen and (max-width:280px) {

    .h1SecEle,
    .h1SecTwe,
    .h1SecThird,
    .textSectionEght {
        font-size: 23px;
    }

    .btnBuy {
        margin-top: 30px;
    }

    .buttonToDown {
        margin-top: 100%;
    }
}