* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

ion-button {
    --border-radius: 0;
    --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    --background: #91b700;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-end: 50px;
    --padding-start: 50px;
}

ion-input.custom {
    --background: #ededed;
    --color: gray;

}

.ion-valid.sc-ion-input-md-h {
    --highlight-color: var(--ion-color-primary);
}

.container {
    padding: 15px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.bounce {
    animation: bounce 1s ease-in-out infinite;
}


.image-container {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.imageHeader {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.titleText {
    position: relative;
    top: 36%;
    color: white;
    font-size: 64px;
    font-weight: bolder;
}

// Android && Google Chrome
.buttonToDown {
    position: relative;
    margin-top: 30%;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.subTitleH2Text {
    position: relative;
    top: 38%;
    color: white;
    font-size: 23px;
    // font-weight: bold;
    line-height: 2.5ch;
}

.noni,
.noniBenifit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 88px 0; // Giảm giá trị này để giảm khoảng cách
    width: 100%;
}

.rowSecTwo {
    width: 75%;
    margin: 0 auto;
}

.pSecTwo {
    // margin-right: -30%;
}

.rowSecThree {
    width: 75%;
    margin: 0 auto;
}

.pSecThree {
    display: flex;
}

.imageNoni,
.imageNoniBenefit {
    width: 550px;
    height: 550px;
    object-fit: cover;
}

.textSecThree {
    font-size: 24px;
    text-align: center;
    font-weight: 200;
    line-height: 1.5;
}

.divSecFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    padding: 30px 0px;
}

.h1SecFour {
    font-weight: 600;
    font-size: 32px;
}

.pSecFour {
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55;
}

.h2SecFour {
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.55;
}

.colSecFive {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSecFive {
    width: 80%;
    line-height: 1.55;
    font-size: 20px;
    margin-top: 4%;
}

.imageSecFive {
    height: 700px;
    object-fit: cover;
    width: auto;
}

.noniWhat,
.noniWhatBenefit {
    font-size: 46px;
    font-weight: bold;
}

.divSecSix {
    padding: 10px;
}

.divSectionSix {
    padding: 90px 0px 80px;
}

.h2SecSix {
    font-size: 52px;
    font-weight: 600;
}

.h3SecSix {
    font-size: 24px;
    line-height: 1.55;
    padding: 41px 0px 0px;
}

.text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.horizontal-line {
    border-bottom: 3px solid #91b700;
    width: 50px;
    margin-top: 13px;
    /* Khoảng cách top và bottom */
    margin-bottom: 10px;
}

.wide-text {
    font-weight: 100;
    line-height: 34px;
    padding: 10px;

}

.textInfoNoni {
    font-size: 24px;
    font-weight: 200;

    line-height: 1.5;
}

.divSectionSevOdd,
.divSectionSevEven {
    padding: 90px 0px 80px;
}

.h3SectionSevOdd,
.h3SectionSevEven {
    font-size: 36px;
    font-weight: 600;
}

.h4SectionSevOdd,
.h4SectionSevEven {
    font-size: 22px;
    line-height: 1.2;
    padding: 31px 0px 0px;
}

.imageSectionSevOdd,
.imageSectionSevEven {
    height: 400px;
    object-fit: cover;
    width: auto;
}

.btnBuy {
    font-weight: 600;
    height: 60px;
    --border-radius: 10px;
    width: 230px;
    --background: #91b700;
}

.colBtnBuy {
    align-items: center;
    justify-content: center;
    display: flex;
}

.textSectionEght {
    font-size: 25px;
    line-height: 1.55;
    font-weight: bold;
}

.h1InfoCompany {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
}

.btnPageSocial {
    margin-right: 10px;
    --border-radius: 50px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
}

.secNineRowTwo {
    margin-bottom: 20px;
}

.secNineImgColOne {
    height: 100%;
    object-fit: cover;
}

.secNineColOne {
    margin-right: 30px;
}

.h1SecTen {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;
}

.h1SecEle {
    margin-bottom: 35px;
    font-size: 36px;
}

.secEleImg:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.h1SecTwe {
    margin-bottom: 40px;
}

.secTweImg,
.secEleImg {
    width: 90%;
    border: 1px solid black;
    transition: transform .2s;
    position: relative;
}

.secTweImg:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.h1SecThird {
    font-size: 52px;
    line-height: 1.23;
}

.h3SecThird {
    font-size: 28px;
    line-height: 1.45;
    padding: 41px 0px 0px;
}

.divSecThird {
    background-color: #ededed;
    padding-top: 105px;
    padding-bottom: 60px;
}

.centered-list {
    margin-top: 60px;
}

.btnSend {
    padding-top: 40px;
    font-weight: 600;
    height: 100px;
    --border-radius: 10px;
    --background: #91b700;
    margin-bottom: 40px;
}

.pSecFooter {
    padding: 30px 0px 0px;
    margin-bottom: 45px;
    width: 800px;
}

.colSecFooter {
    padding: 30px 0px 150px;
}

.textSecFooter {
    font-size: 24px;
    line-height: 1.5;
}

// @media only screen and (min-width:1730px){
//    .buttonToDown{
//     margin-top: 17%;
//    }
// }

// @media only screen and (min-width:1476px) and (max-width:1726px){
//     .buttonToDown{
//         margin-top: 20%;
//        }
// }
//this is responsive when Screen have two columns
@media only screen and (min-width:1024px) and (max-width:1616px) {

    .imageNoni,
    .imageNoniBenefit {
        width: 380px;
        height: 380px;
        object-fit: cover;
    }

    .noniWhat,
    .noniWhatBenefit {
        font-size: 40px;

    }

    .textInfoNoni,
    .textSecThree {
        font-size: 20px;
    }

    .secEleImg {
        width: auto;
        height: 100%;
        margin-right: 10px;
    }

    .btnBuy {
        margin-left: 40px;
    }

    .buttonToDown {
        margin-top: 40%;
    }
}

//this is responsive when Screen have a column
@media only screen and (max-width:1199px) {
    .container {
        padding: 15px;
    }

    .imageNoni,
    .imageNoniBenefit,
    .imageSecFive,
    .imageSectionSevEven,
    .imageSectionSevOdd,
    .imageBenefitSecNine {
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .noniWhat,
    .noniWhatBenefit {
        margin-top: 20px;
        font-size: 30px;
    }

    .noniWhatBenefit {
        font-size: 25px;
    }

    .textInfoNoni,
    .textSecThree {
        line-height: 1.5;
    }

    .textSecThree {
        text-align: left;
    }

    .secNineColOne {
        margin-right: 0px;
    }

    .secNineRowTwo {
        margin-bottom: 0px;
    }

    .imageBenefitSecNine {
        width: 100%;
        object-fit: cover;
    }

    iframe {
        width: 100%;
        height: 500px;
    }

    .secEleImg {
        width: auto;
        height: 100%;
        margin-right: 10px;
    }

    .h1InfoCompany {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .textSecFooter {
        font-size: 20px;

    }

    .pSecFooter {
        margin-bottom: 45px;
        width: auto;
    }

    .noniBenifit {
        padding: 30px 0;
    }

    .h1SecFour,
    .h2SecSix,
    .h3SectionSevOdd,
    .h3SectionSevEven {
        font-size: 28px;
    }

    .divSectionSix,
    .divSectionSevOdd,
    .divSectionSevEven {
        padding: 20px 0px;
    }

    .h3SecSix {
        font-size: 20px;
        padding: 35px 0px 0px;
    }

    .h4SectionSevOdd,
    .h4SectionSevEven {
        font-size: 20px;
        // text-align: left;
    }

    .btnBuy {
        margin-top: 30px;
    }

    .secTweImg,
    .secEleImg {
        margin-top: 10px;
    }

    .buttonToDown {
        margin-top: 70%;
    }

}

@media only screen and (width:1024px) and (height: 600px) {
    .buttonToDown {
        margin-top: 30%;
    }
}

@media only screen and (min-width:768px) and (max-width:912px) {
    .buttonToDown {
        margin-top: 60%;
    }
}

// @media only screen and (max-width:800px){
//     .buttonToDown{
//         margin-top:40%;
//     }
// }
@media only screen and (max-width:737px) {
    .titleText {
        top: 20%;
        font-size: 45px;
    }

    .subTitleH2Text {
        top: 25%;
        font-size: 20px;
    }

    // .buttonToDown{
    //     margin-top: 40%;
    //     font-size: 14px;
    // }
    .h4SectionSevOdd,
    .h4SectionSevEven {
        font-size: 20px;
        // text-align: left;
    }

    .h1SecEle,
    .h1SecTwe,
    .h1SecThird {
        font-size: 30px;
    }

    .h3SecThird {
        font-size: 23px;
    }

    .btnBuy {
        margin-top: 30px;
    }

    .buttonToDown {
        margin-top: 80%;
    }
}

// Galaxy Fold Screen
@media only screen and (max-width:280px) {

    .h1SecEle,
    .h1SecTwe,
    .h1SecThird,
    .textSectionEght {
        font-size: 23px;
    }

    .btnBuy {
        margin-top: 30px;
    }

    .buttonToDown {
        margin-top: 100%;
    }
}