@font-face {
    font-family: Istok;
    src: url(../assets/fonts/IstokWeb-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Istok-Lighter;
    src: url(../assets/fonts/IstokWeb-Regular.ttf);
    font-weight: lighter;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxP.ttf');
    font-weight: normal;
    font-style: normal;
}